@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rubik:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
  --white: #edf9ff;
  --orange: #ff6a49;
  --black: #000829;
  --secondary-black: #000e48;
}
body{
  background-color: var(--secondary-black);
}
nav{
  background-color: var(--black);
  color: var(--white);
  padding: 2rem 5vw;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav h1{
  font-size: clamp(30px, calc(2vw + 10px), calc(2vw + 10px));
}
h1, h2, h3, h4, h5, button{
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 500;
}
p{
  font-family: 'Rubik', sans-serif;
}
.page{
  margin-top: 2rem;
  color: var(--white);
  padding: 1rem 5vw;
}
.align-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: clamp(30px, calc(2vmax + 1rem), calc(2vmax + 1rem));
  margin-bottom: 1rem;
}
p{
  margin-bottom: 1rem;
}
.counter{
  margin-top: 5px;
  margin-bottom: 1rem;
  background-color: var(--orange);
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: 3px solid;
  font-size: clamp(20px, calc(1vmax + 10px),calc(1vmax + 10px));
}
label{
  font-weight: 600;
  font-size: clamp(20px, calc(1vmax + 10px),calc(1vmax + 10px));
}
.counter button{
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size:clamp(20px, calc(1vmax + 10px),calc(1vmax + 10px));
  color: var(--white);
}
.double-team{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.double-team button, .do-it{
  font-size: clamp(30px, calc(1vmax + 1rem), calc(1vmax + 1rem));
  padding: 10px;
  background-color: var(--orange);
  color: var(--white);
  border: 4px solid var(--secondary-black);
  border-radius: 10px;
  cursor: pointer;
}
