@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rubik:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
  --white: #edf9ff;
  --orange: #ff6a49;
  --black: #000829;
}
nav{
  background-color: var(--black);
  color: var(--white);
  padding: 2rem 5vw;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav h1{
  font-size: clamp(30px, calc(2vw + 10px), calc(2vw + 10px));
}
h1, h2, h3, h4, h5, button{
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 500;
}
p{
  font-family: 'Rubik', sans-serif;
}
