@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rubik:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
  --white: #ffffff;
  --light-blue: #16dfdf;
  --purple: #7f15cf;
  --black: #000000;
}
body{
  background-color: var(--white);
}
nav{
  background-image: linear-gradient(to right, var(--light-blue), var(--purple));
  color: var(--white);
  padding: 2rem 5vw;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav h1{
  font-size: clamp(30px, calc(2vw + 10px), calc(2vw + 10px));
}
h1, h2, h3, h4, h5, button{
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 500;
}
p{
  font-family: 'Rubik', sans-serif;
}
input{
  display: none;
}
label{
  padding: 10px;
  background-color: var(--orange);
}
.page{
  margin-top: 2rem;
  color: var(--black);
  padding: 1rem 10vw;
}
.align-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: clamp(30px, calc(2vmax + 1rem), calc(2vmax + 1rem));
  margin-bottom: 1rem;
}
p{
  margin-bottom: 1rem;
}
.counter{
  margin-top: 5px;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right, var(--light-blue),var(--purple));
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: 3px solid;
  font-size: clamp(20px, calc(1vmax + 10px),calc(1vmax + 10px));
}
label{
  font-weight: 600;
  background-image: linear-gradient(to right, #16dfdf, #7f15cf);
  color: var(--white);
  border-radius: 5px;
  font-size: clamp(20px, calc(1vmax + 10px),calc(1vmax + 10px));
}
.counter button{
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size:clamp(20px, calc(1vmax + 10px),calc(1vmax + 10px));
  color: var(--black);
}
.double-team{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.double-team button, .do-it{
  font-size: clamp(30px, calc(1vmax + 1rem), calc(1vmax + 1rem));
  padding: 10px;
  background-color: var(--orange);
  color: var(--black);
  border: 4px solid var(--secondary-white);
  border-radius: 10px;
  cursor: pointer;
}
.img-canvas{
  height: 350px;
  width: 350px;
  margin: 1rem 0;
  border-radius: 5px;
  border: 4px solid var(--light-blue);
}
.display-none{
  display: none;
}
h5{
  font-size: calc(15px + 1vmax);
  margin: 1rem 0;
  text-align: center;
}